<ng-content select="h1"></ng-content>
<h2>Data Binding</h2>
<h3>Interpolation</h3>
<p>O {{nome}} tem {{idade}} anos!</p>
<p>Quanto é {{idade}} + 1?</p>
<p>{{idade+1}}</p>
<br>
<hr>
<h3>Property Binding</h3>
<button [disabled]="checkedDisable">Botão</button>
<br>
<img [src]="imgSrc" alt="Esquema Data Binding">
<br>
<hr>
<h3>Event Binding</h3>
<button (click)="alertaInfo($event)">Evento</button>
<div (mousemove)="mouseMoveTeste($event)" style="background: blueviolet; width: 300px; height: 300px;"></div>
{{position.x}} - {{position.y}}
<br>
<hr>
<h3>Two Way Binding</h3>
<input [(ngModel)]="nome">
{{nome}}
<br>
<br>
<hr>
<ng-content select="h3"></ng-content>
